<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper接口名对应-->
<mapper namespace="com.sungeon.bos.mapper.AccessTokenAndCustomerMapper">
    <select id="getId" resultType="java.lang.Long">
        SELECT id
        FROM c_customer_flowinfo ccf
    </select>

    <select id="callPurchaseItemAm" statementType="CALLABLE">
        {call C_CUSTOMER_FLOWINFO_AC(
                #{id, mode=IN, jdbcType=BIGINT}
            )}
    </select>

    <insert id="insertCustomer">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT get_sequences('c_customer_flowinfo') AS id FROM dual
        </selectKey>
        insert into c_customer_flowinfo(id, ad_client_id, ad_org_id, ownerid, modifierid, creationdate, modifieddate,isactive,
                                        storeIdUuid,
                                        storeCode,
                                        name,
                                        realTime,
                                        indoorCount,
                                        outdoorCount,
                                        statDimensionDayTime,
                                        statDimensionHourTime,
                                        outsum,
                                        areaCode,
                                        areaName,
                                        storeAreaIdUuid,
                                        syCount,
                                        multiInfo)
        values(#{id}, 37, 27, ${userId}, ${userId}, SYSDATE, SYSDATE, 'Y',
        #{storeIdUuid, javaType=String, jdbcType=VARCHAR},
        #{storeCode, javaType=String, jdbcType=VARCHAR},
        #{name, javaType=String, jdbcType=VARCHAR},
        #{realTime, javaType=String, jdbcType=VARCHAR},
        #{indoorCount, javaType=Long, jdbcType=BIGINT},
        #{outdoorCount, javaType=Long, jdbcType=BIGINT},
        #{statDimensionDayTime, javaType=String, jdbcType=VARCHAR},
        #{statDimensionHourTime, javaType=String, jdbcType=VARCHAR},
        #{outsum, javaType=Long, jdbcType=BIGINT},
        #{areaCode, javaType=String, jdbcType=VARCHAR},
        #{areaName, javaType=String, jdbcType=VARCHAR},
        #{storeAreaIdUuid, javaType=String, jdbcType=VARCHAR},
        #{syCount, javaType=Long, jdbcType=BIGINT},
        #{multiInfo,javaType=String, jdbcType=VARCHAR})
    </insert>


    <insert id="insertMultiInfo">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT get_sequences('c_customer_flowinfoitem') AS id FROM dual
        </selectKey>
        insert into c_customer_flowinfoitem(id, ad_client_id, ad_org_id, ownerid, modifierid, creationdate,
                                            modifieddate, isactive,
                                            c_customer_flowinfo_id,
                                            name,
                                            ageunknown,
                                            ageundereighteen,
                                            agenineteentotwentynine,
                                            agethirtytothirtynine,
                                            agefortytofortynine,
                                            agefiftytofiftynine,
                                            ageoversixty,
                                            ageunknownproportion,
                                            ageundereighteenproportion,
                                            agenineteentotwentynineproportion,
                                            agethirtytothirtynineproportion,
                                            agefortytofortynineproportion,
                                            agefiftytofiftynineproportion,
                                            ageoversixtyproportion,
                                            sexmale,
                                            sexfemale,
                                            sexunknown,
                                            sexmaleproportion,
                                            sexfemaleproportion,
                                            sexunknownproportion,
                                            proportion,
                                            count
                                            )
        values(#{id}, 37, 27, ${userId}, ${userId}, SYSDATE, SYSDATE, 'Y',
               #{customerFlowInfoId, javaType=Long, jdbcType=BIGINT},
               #{name, javaType=String, jdbcType=VARCHAR},

               #{ageUnknown, javaType=Long, jdbcType=BIGINT},
               #{ageUnderEighteen, javaType=Long, jdbcType=BIGINT},
               #{ageNineteenToTwentyNine, javaType=Long, jdbcType=BIGINT},
               #{ageThirtyToThirtyNine, javaType=Long, jdbcType=BIGINT},
               #{ageFortyToFortyNine, javaType=Long, jdbcType=BIGINT},
               #{ageFiftyToFiftyNine, javaType=Long, jdbcType=BIGINT},
               #{ageOverSixty, javaType=Long, jdbcType=BIGINT},

               #{ageUnknownProportion,javaType=Float, jdbcType=REAL},
               #{ageUnderEighteenProportion,javaType=Float, jdbcType=REAL},
               #{ageNineteenToTwentyNineProportion,javaType=Float, jdbcType=REAL},
               #{ageThirtyToThirtyNineProportion,javaType=Float, jdbcType=REAL},
               #{ageFortyToFortyNineProportion,javaType=Float, jdbcType=REAL},
               #{ageFiftyToFiftyNineProportion,javaType=Float, jdbcType=REAL},
               #{ageOverSixtyProportion,javaType=Float, jdbcType=REAL},

               #{sexMale, javaType=Long, jdbcType=BIGINT},
               #{sexFemale, javaType=Long, jdbcType=BIGINT},
               #{sexUnknown, javaType=Long, jdbcType=BIGINT},

               #{sexMaleProportion,javaType=Float, jdbcType=REAL},
               #{sexFemaleProportion,javaType=Float, jdbcType=REAL},
               #{sexUnknownProportion,javaType=Float, jdbcType=REAL},

               #{proportion,javaType=Float, jdbcType=REAL},
               #{count, javaType=Long, jdbcType=BIGINT})
    </insert>

</mapper>